.banner {
    background: var(--azul-degrade); /* quando temos degrade, utilizandos backgroung. Background-color é pra quando temos uma só cor*/
    font-family: var(--fonte-principal);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo {
    font-weight: 700;
    font-size: 18px;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background-color: transparent;
    width: 100%;
    border: 1px solid var(--branco);
    border-radius: 24px;
    padding: 1em;  
    color: var(--branco);
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);  
    background: url(../img/Pesquisa.svg) no-repeat;
    background-position: 1em;
}
